.parent {
    background-color: gray;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

.image {
    border-radius: 20%;
}

.mediaBody{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.heading{
    padding-bottom: 10px;
}

.contents{
    padding-top: 4px;
}
