.page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.headline {
  margin-top: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-left: 1rem;
}
