.header {
  background: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--gold);
  padding: 10px;
  height: 36px;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.link {
  color: var(--gold);
  text-decoration: none;
  font-weight: bold;
}
