.link {
  color: var(--gold);
  background-color: #000;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.isActive {
  display: block;
}

.isDeactive {
  display: none;
}
