.card {
  margin-bottom: 5px;
  padding: 7px;
  /* background-color: var(--seal-brown); */
  background-color: #000;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.imageParent {
  position: relative;
}

.image {
  border-radius: 5px;
}

.text {
  width: 100%;
  padding: 10px;
  /* color: #000; */
  font-weight: bold;
}

.description {
  color: #eee;
  font-size: 16px;
}

.list {
  padding-left: 1em;
  font-size: 14px;
}